/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --alt-color: #445361;
    --background-color: white;
    --element-color:#E6ECF0;
    --accent-color: #445361;
    --button-fill: white;
}

.darkmode {
    --alt-color: white;
    --background-color: #0d1013;
    --element-color: #1c1f22;
    --accent-color: #445361;
    --button-fill: transparent;
}

/* Global Styles */
html, body {
    background-color: var(--background-color);
    font-family: "Raleway", sans-serif;
    color: var(--alt-color);
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the contents horizontally */
    padding: 10px;
    gap: 10px;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 45px;
    padding: 0 5px;
    display: none;
}

/* Dark Mode Switch */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--alt-color);
    background-color: var(--element-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch i:last-child {
    display: none;
}

.darkmode #theme-switch i:first-child {
    display: none;
}
.darkmode #theme-switch i:last-child {
    display: block;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area {
    background-color: var(--element-color);
    width: 75%;
    padding: 20px;
    border-radius: 20px;
    max-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#question-placeholder {
    /* Prompt user input, hide with JS once gamemode selected */
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
}
    
#question-container {
    /* Hide Until user has selected a game mode */
}

.question-area {
    font-size: 2rem;
    margin: auto;
    padding: 20px 0;
}

.question-area span {
    padding: 0 15px;
}

.question-area input {
    border-radius: 10px;
}
.score-area {
    margin: 4px 0;
    font-size: 1.2rem;
}

.score-area p {
    margin: 0;
    padding: 18px 28px;
}

#scoreboard {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 40px;
}

#scoreboard .total-score {
    font-weight: 500;
}

.controls-area {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to create a grid */
    justify-content: center; /* Center items horizontally */
}

.btn-container {
    margin: 10px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(50% - 20px); /* Adjust the flex basis to fit two items per row with margin */
}

.score, .correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#resultprompts {
    min-height: 20px;
}

#stopwatch-display {
    margin-top: 40px;
    padding: 10px;
    color: var(--alt-color);
    font-size: 2rem;
    font-weight: 600;
}

/* Buttons */
.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn-text {
    margin-top: 14px;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--alt-color);
}

.btn:focus {
    outline: none;
}

.btn-big {
    padding-top: 10px;
    border-radius: 50%;
    /* Button background fill */
    background-color: var(--button-fill);
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn-blue {
    border-color: blue;
    color: blue;
}

.btn-blue:active,
.btn-blue:hover {
    background-color: darkblue;
    color: white;
}

.btn-orange {
    border-color: orange;
    color: orange;
}

.btn-orange:active,
.btn-orange:hover {
    background-color: darkorange;
    color: white;
}

.btn-red {
    border-color: red;
    color: red;
}

.btn-red:active,
.btn-red:hover {
    background-color: darkred;
    color: white;
}

.btn-green {
    border-color: green;
    color: green;
}

.btn-green:active,
.btn-green:hover {
    background-color: darkgreen;
    color: white;
}

.btn-grey {
    margin-top: 25px;
    background-color: var(--accent-color);
    border: 1px transparent;
    border-radius: 20px;
    margin-bottom: 10px;
}

.btn-grey:active,
.btn-grey:hover {
    background-color: #0d1013;
}

/* Hide the arrows in number input fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* Media queries */
@media (min-width: 576px) {
    .answer-message {
        display: none;
    }
}
@media (min-width: 768px) {
    /* Display the buttons in a single row on larger screens */
    .controls-area {
        flex-flow: row nowrap; 
    }

    .btn-container {
        flex: 1 1 220px;
        max-width: 220px;
    }

    .logo {
        display: inline-flex;
    }

}